    <footer>
        <p>&copy; <%= new Date().getFullYear() %> CSE 340 Service Network.
        <% if (NODE_ENV === 'development') { %>
            <span style="color: #f2994a; font-weight: bold;">(Development mode)</span>
        <% } %>
        </p>
    </footer>
</body>
</html>