<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav>
    <div class="nav-container">

        <div class="logo">
            CSE 340 Service Network
        </div>

        <button class="hamburger" id="hamburger">
            &#9776;
        </button>

        <ul id="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/organizations">Organizations</a></li>
            <li><a href="/projects">Projects</a></li>
        </ul>

    </div>
</nav>